*{
    margin: 0;
    padding: 0;
}

.register_all{
    background-image: url(../images/big-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.register_head{
    margin:0 100px;
}

.register_head img{
    width: 180px;
    vertical-align: middle;
}

.register_head span{
    padding-left: 30px;
    font-size: 30px;
    font-family: 'Times New Roman';
}

.register_content{
    height: 70vh;
}

.register_form_div{
    margin: 0 auto;
    margin-top: 180px;
    background-color: #ffffffe3;
    height: 580px;
    width: 420px;
    border-radius: 5px;
}

.register_form_head{
    height: 80px;
}

.register_form_head span{
    margin-left: 60px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 80px;
}

.register_span{
    border-bottom: 3px solid #69a373;
    cursor: pointer;
}

.register_form_content{
    margin-top: 10px;
}

.register_phone_input,.register_pwd_input,.register_pwd_input_check{
    border: 0px solid #000;
    background-color: rgb(248, 248, 248);;
    height: 60px;
    width: 334px;
    margin-left: 35px;
    margin-top: 10px;
    font-size: 16px;
    padding-left: 20px;
    border-radius: 10px;
}

.register_code_input{
    border: 0px solid #000;
    background-color: rgb(248, 248, 248);;
    height: 60px;
    width: 180px;
    margin-left: 35px;
    margin-top: 10px;
    font-size: 16px;
    padding-left: 20px;
    border-radius: 10px;
}

#register_code_p{
    display: inline-block;
}

.register_get_code{
    height: 60px;
    width: 154px;
    font-size: 16px;
    line-height: 60px;
    background-color: rgb(248, 248, 248);;
    color: #636b65;
    /* position: absolute;
    top: 597px;
    left: 846px; */
    border-left: 1px solid #d5dbd6;
    text-align: center;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    margin-right: 30px;
    border-radius: 10px;
}

.register_get_code_add{
    height: 60px;
    width: 154px;
    font-size: 16px;
    line-height: 60px;
    background-color: rgb(248, 248, 248);;
    color: #636b65;
    /* position: absolute;
    top: 617px;
    left: 846px; */
    border-left: 1px solid #d5dbd6;
    text-align: center;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    margin-right: 30px;
    border-radius: 10px;
}

.register_get_code:hover{
    background-color: #c0c7c2;
    color: #000;
}

.register_get_code_add:hover{
    background-color: #c0c7c2;
    color: #000;
}

a{
    text-decoration: none;
    color: #69a373;
}

.lo{
    margin-left: 326px;
}

.register_form_content_a{
    margin-top: 10px;
}

.register_button{
    /* border: 1px solid #000; */
    border-radius: 10px;
    background-color: #e7ece8;
    margin-top: 30px;
    margin-left: 40px;
    height: 60px;
    width: 340px;
    text-align: center;
}

.register_button:hover{
    background-color: #69a373;
}

.register_button:hover a{
    color: #fff;
}


.register_button a{
    line-height: 60px;
    text-decoration: none;
    font-size: 16px;
    color: #636b65;
}

#register_error_span{
    margin-left: 39px;
    color: red;
    display: none;
}

#register_contract_input{
    margin-top: 25px;
    margin-left: 35px;
}

#register_zhe{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1000; 
    display: none;
}

.register_zhe_content{
    background-color: #fff;
    margin: 350px auto;
    height: 168px;
    width: 460px;
    border-radius: 5px;
}
.register_zhe_content p{
    padding-left: 30px;
    padding-top: 20px;
    font-size: 18px;
}

.register_zhe_content>span{
    display: inline-block;
    margin-top: 15px;
    margin-left: 34px;
}

.register_zhe_check_div{
    margin-top: 10px;
}

.register_no{
    display: inline-block;
    margin-top: 20px;
    margin-left: 200px;
    width: 68px;
    height: 30px;
    background-color: #c9c9d1;
    text-align: center;
    border-radius: 2px;
}

.register_no span{
    line-height: 30px;
    font-size: 15px;
}

.register_yes{
    display: inline-block;
    margin-top: 0px;
    margin-left: 25px;
    width: 100px;
    height: 30px;
    background-color: #69a373;
    text-align: center;
    border-radius: 2px;
}

.register_yes span{
    line-height: 30px;
    font-size: 15px;
    color: #fff;
}

.register_zhe_check_div span{
    cursor: default;
}