.col-lg-6 h3{
    color: white;
    font-size: 40px;
}
.words h4{
    font-weight: bold;
    font-weight: bold;
    line-height: 2em;
    color: white;
    
}
.words p{
    /* font-weight: bold; */
    color: white;
    padding: 5px;


}
.cta-two__image img{
    /* background-position: 800px 100px;    */
    /* text-align: right; */

}
.logo_img{
    margin-top: 30px;
}
activities-container .ul>li{
    float: left;
    position: relative;
}
.first{
    background-color: green;
}