<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.csi.mapper.ChargeMapper">

    <!-- 插入新的收费标准 -->
    <insert id="save" parameterType="com.csi.domain.Charge">
        INSERT INTO charge_standard (
        item,
        price,
        description,
        type
        ) VALUES (
        #{item},
        #{price},
        #{description}
        #{type}
        )
    </insert>

    <!-- 删除收费标准 -->
    <delete id="remove" parameterType="int">
        DELETE FROM charge_standard WHERE id = #{id}
    </delete>

    <!-- 更新收费标准 -->
    <update id="update" parameterType="com.csi.domain.Charge">
        UPDATE charge_standard
        SET
        item = #{item},
        price = #{price},
        description = #{description},
        type = #{type}
        WHERE id = #{id}
    </update>

    <!-- 查询单条收费标准 -->
    <select id="findById" parameterType="int" resultType="com.csi.domain.Charge">
        SELECT
        *
        FROM charge_standard
        WHERE id = #{id}
    </select>

    <!-- 模糊查询+查询全部 -->
    <select id="list" parameterType="string" resultType="com.csi.domain.Charge">
        SELECT
        *
        FROM charge_standard
        <where>
            <if test="key != null and key != ''">
                AND (item LIKE CONCAT('%', #{key}, '%')
                OR description LIKE CONCAT('%', #{key}, '%'))
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <!-- 根据类型筛选房间 -->
    <select id="listByType" parameterType="string" resultType="com.csi.domain.Charge">
        SELECT
        *
        FROM charge_standard
        WHERE type = #{type}
    </select>

</mapper>